@import '../../../sass/baseApp/baseAppVariables.scss';

.log-in-view {
    background-image: url("../../../images/parallax/img_parallax3.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    box-sizing: $border-box;
    form {
        margin-top: 30vh;
        background-color: $black-background-color-opacity-5;
        padding: 1rem;
        box-sizing: $border-box;
        box-shadow: none;
    }
}