@import '../../sass/baseApp/baseAppVariables.scss';

.page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    min-width: 32rem;
}

.view {
    background-color: $first-background-color;
    padding: 0;
    z-index: 100;
    h1, h2, h3, h4, h5, h6 { 
        font-weight: 100;
        padding: 0;
        margin: 1rem;  
    }
    h1 {   
        font-size: 2.5rem;
    }
    h2 {   
        font-size: 2.0rem;
    }
    h3 {   
        font-size: 1.5rem;
    }
    h4, h5, h6 {   
        font-size: 1.0rem;
    }
}

.content {
    margin: 6rem 1rem 1rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .view {
        padding: 0;
    }
}