.header-module {
    color: rgba(255,255,255,1);
    display: block;
    position: fixed;
    width: 100%;
    min-width: 32rem;
    height: 5.0rem;
    transform: translateY(-10rem);
    opacity: 0;
    background: rgba(0,0,0,1.0);
    animation: slideY 0.5s forwards, fadeIn 1.0s forwards;
    -webkit-box-shadow: 0 6px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 6px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0 6px 6px 0px rgba(0,0,0,0.3);
    z-index: 1000;
}

.header-logo {
    position: absolute;
    display: inline-block;
    top: 0.5rem;
    left: 3.0rem;
    padding: 0;
    transform: translateX(-1000rem);
    animation: slideX 0.5s forwards;
    animation-delay: 0.5s;
}

.header-logo a img.base-logo {
    display: block;
    position: absolute;
    top: -5px;
    left: -15px;
    height: 5.0rem;
    animation: logo-spin infinite 20s linear;
}

.header-links {
    position: absolute;
    display: inline-block;
    top: 0.5rem;
    right: 1.0rem;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.header-links.header-inline {
    opacity: 1;
    transform: translateX(1000rem);
    animation: slideRightOut 1.0s forwards, fadeOut 1.0s forwards;
    animation-delay: 0.5s;
}

.header-links.header-dropdown {
    opacity: 0;
    transform: translateX(1000rem);
    animation: slideX  0.5s forwards, fadeIn 1.0s forwards;
    animation-delay: 0.5s;
}

.header-links li {
    padding: 2.0rem;
    display: inline-block;
}

.header-links li {
    color: rgba(255,255,255,1);
}

.header-links li a {
    font-size: 1.5rem;
    color: rgba(97,218,251,1);
    text-decoration: none;
}

.icon::before {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .header-logo {
        left: 6.0rem;
    }

    .header-links {
        right: 6.0rem;
    }    

    .header-links li {
        padding: 1.0rem;
        margin-right: 2.5rem;
    }

    .header-links li:last-child {
        margin-right: 0;
    }

    .header-links.header-dropdown {
        opacity: 1;
        transform: translateX(1000rem);
        animation: slideRightOut 5.0s forwards, fadeOut 5.0s forwards;
        animation-delay: 0.5s;
    }

    .header-links.header-inline {
        opacity: 0;
        transform: translateX(1000rem);
        animation: slideX 0.5s forwards, fadeIn 1.0s forwards; ;
        animation-delay: 0.5s;
    }
}