.home-view {
    background-color: rgba(40,44,52,1);
    padding: 6.0rem 3.0rem;
    transform: translateX(-1000rem);    
    animation: slideX 0.5s forwards;
    animation-delay: 0.5s;
    z-index: 100;
}

@media screen and (min-width: 760px) {
    .home-view {
        padding: 6.0rem 6.0rem;
    }
}