.home-view {
    opacity: 0;
    padding: 6.0rem 3.0rem 0;
    transform: translateX(-100rem);    
    animation: slideRight 1.0s forwards, fadeIn 3.0s forwards;
    z-index: 100;
}

@media screen and (min-width: 760px) {
    .home-view {
        padding: 6.0rem 6.0rem 0;
    }
}