/* .account-view form, 
.account-view h1 {
    width: auto;
    min-width: 28rem;
    max-width: unset; 
}

.account-view h1 {
    text-align: left;
}

.account-view input {
    width: inherit;
    min-width: 28rem;
    display: block;
} */
