/* theme */
$first-color: rgba(40,44,52,1);
$second-color: rgba(97,218,251,1);
$third-color: rgba(255,255,255,1);

/* Text color */
$font-default-color: rgba(255,255,255,1);

/* Text link color */
$font-link-color: rgba(97,218,251,1);

/* Background color */
$background-primary-color: rgba(40,44,52,1);