@import '../../../sass/baseApp/baseAppVariables.scss';

.faq-view {
    background-image: url("../../../images/parallax/img_parallax3.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
