html {
  color: rgba(255,255,255,1);
  font-size: 10px;
  font-family: Verdana, Geneva, serif;
  background-color: rgba(40,44,52,1);
}

body {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: rgba(97,218,251,1);
  text-decoration: none;
}