@-webkit-keyframes slideLeftOut {
    from {
    }
    to {
        transform: translateX(-1000rem);
    }
}

@-moz-keyframes slideLeftOut {
    from {
    }
    to {
        transform: translateX(-1000rem);
    }
}

@-o-keyframes slideLeftOut {
    from {
    }
    to {
        transform: translateX(-1000rem);
    }
}

@keyframes slideLeftOut {
    from {
    }
    to {
        transform: translateX(-1000rem);
    }
}