@import '../../../sass/baseApp/baseAppVariables.scss';



.items-view {
    display: block;
    margin: 5rem auto;
    .item-wrapper {
        h1 {
            margin: 1rem 0 2rem;
        }
        padding: 2rem;                          
        max-width: 100%;
        display: block;
        .item-label {
            display: block;
        }
        .item-image-wrapper {
            background-color: transparent;
            width: inherit;
            height: 150px; 
            overflow: hidden;
            position: relative;
            .item-image {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%) ;
                height: inherit;                
                border-radius: 50%; 
            }           
        }
    }
}
@media screen and (min-width: 768px) {
    .items-view {
        .item-wrapper { 
            max-width: 300px;
            display: inline-block;                   
            vertical-align: top;            
        }
    }
}