.bar-loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(221,221,221,1);
    top: 5.0rem;
    z-index: 200;
  }

 .bar-loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: rgba(97,218,251,1);
    animation: loading 2s linear infinite;
  }

  .bar-loader.done:before{
    animation: none; /*loading 2s linear forwards;*/
  }

  .bar-loader.done {    
    background-color: rgba(40,44,52,1);
    transition: background-color 500ms linear;
  } 
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }