@import '../../sass/baseApp/baseAppVariables.scss';

.bar-loader {
    height: 10px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: $light-gray-background-color-opacity-1;
    bottom: 0rem;
    z-index: 200;
    &:before {
      display: block;
      position: fixed;
      content: "";
      left: -200px;
      width: 200px;
      height: 10px;
      background-color: $second-background-color;
      animation: loading 2s linear infinite;
    }
    &.done { 
      bottom: -1rem;   
      background-color: $first-background-color;
      transition: background-color 500ms linear, bottom 500ms ease;
      &:before{
        animation: none; /*loading 2s linear forwards;*/
      }
    } 
  }
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }