.wrapper {
    transform: translateX(-1000rem);
    animation: slideY 0.5s forwards;
    animation-delay: 0.5s;
  }
  
.page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
  
.pageSlider-appear.left > .page,
.pageSlider-enter.left > .page {
    transform: translate3d(-100%, 0, 0);
    z-index: 1;
}

.pageSlider-appear.right > .page,
.pageSlider-enter.right > .page {
    transform: translate3d(100%, 0, 0);
    z-index: 1;
}

.pageSlider-appear-active.left > .page,
.pageSlider-enter.pageSlider-enter-active.left > .page,
.pageSlider-appear-active.right > .page,
.pageSlider-enter.pageSlider-enter-active.right > .page  {
    transform: translate3d(0,0,0);
    transition: transform 300ms linear 150ms;
}

.pageSlider-exit.left > .page,
.pageSlider-exit.right > .page {
    transform: translate3d(0,0,0);
    transition: transform 300ms linear 150ms;
}

.pageSlider-exit.pageSlider-exit-active.left > .page {
    transform: translate3d(-100%,0,0);
    transition: transform 300ms linear 150ms;
}

.pageSlider-exit.pageSlider-exit-active.right > .page {
    transform: translate3d(100%,0,0);
    transition: transform 300ms linear 150ms;
}