@import '../../../sass/baseApp/baseAppVariables.scss';

.parallax-view {
    padding: 0;
}

.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.bgimg-1 {
        background-image: url("../../../images/parallax/img_parallax.jpg"); 
        .box {
            bottom: -10rem;
        }   
    }
    &.bgimg-2 {
        z-index: 0;
        &::before {
            content: " ";
            position: fixed;
            top: 0;
            left: 0;
            background-image: url("../../../images/parallax/img_parallax2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: inherit;
            width: 100%;
            z-index: 0;
        }
    }
    &.bgimg-3 {
        background-image: url("../../../images/parallax/img_parallax3.jpg");
    }    
}

.box {
    position: absolute;    
    right: 0;
    bottom: 0;
    left: 0;
    color: rgba(255,255,255,1);
    background-color: rgba(40,44,52,1);
    text-align: center;
    padding: 0;
    z-index: 10;     
}

.inner-box {
    padding: 3rem;
    p,
    h1,
    h2 {
        font-weight: 100;
    }
} 

.show-box {
    position: relative;
    height: 50vh;
    .caption {
        position: absolute;
        left: 0;
        bottom: -15rem;
        width: 100%;
        text-align: center;
        color: #000;
        z-index: 1000;
        span.border {
            display: inline-block;
            color:  rgba(255,255,255,1);
            padding: 1.8rem;
            font-size: 2.5rem;
            letter-spacing: 1rem;
            background-color: rgba(40,44,52,0.7);
        }    
    }
}

@media screen and (min-width: 768px) {
    .parallax-view {
        padding: 0;
    }

    .box,
    .bgimg-1 .box {
        bottom: 0;
    }

    .inner-box {
        padding: 6rem 20rem;
        max-width: 1080px;
        margin: auto;
    }

    .caption {
        position: absolute;
        left: 0;
        top: 100%;
        bottom: unset;
        width: 100%;
        text-align: center;
        color: #000;
        z-index: 1000;
    }
} 