@-webkit-keyframes slideY {
    from {
    }
    to {
        transform: translateY(0);
    }
}

@-moz-keyframes slideY {
    from {
    }
    to {
        transform: translateY(0);
    }
}

@-o-keyframes slideY {
    from {
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideY {
    from {
    }
    to {
        transform: translateY(0);
    }
}