@-webkit-keyframes slideX {
    from {
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideX {
    from {
    }
    to {
        transform: translateX(0);
    }
}

@-o-keyframes slideX {
    from {
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideX {
    from {
    }
    to {
        transform: translateX(0);
    }
}