.wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;  
    transform: translateX(-1000rem);
    animation: slideY 0.5s forwards;
    animation-delay: 0.5s;  
}

.page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}

.pageSlider-appear,
.pageSlider-enter  {
    /* opacity: 0; */
    height: 100%;
    transform: translate3d(-100%,0,0);
    z-index: 1;
}

.pageSlider-appear-active,
.pageSlider-enter.pageSlider-enter-active  {
    /* opacity: 1; */
    height: 100%;
    transform: translate3d(0,0,0);
    transition: transform 300ms linear 150ms;
}

.pageSlider-exit {
    /* opacity: 0; */
    height: 100%;
    transform: translate3d(0,0,0);
    transition: transform 300ms linear 150ms;
    z-index: 0;
}

.pageSlider-exit.pageSlider-exit-active {
    /* opacity: 0; */
    height: 100%;
    transform: translate3d(100%,0,0);
    transition: transform 300ms linear 150ms;
    z-index: 0;
} 