input {
    padding: 1rem;
    margin: 1rem;
    border: none;
    outline: none;
    box-shadow: none; /* FF - red error shadow */
}

input::placeholder {
    color: rgba(161,161,161,1);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    background-color: rgba(97,218,251,1);
}

input[type="button"],
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgba(190,240,253,1);
}