form {
    max-width: 25rem;
    display: block;
    margin: 5rem auto;
    -moz-appearance: none;
    -webkit-appearance: none;
}

form h1 {    
    width: 24rem;
    text-align: center;
    font-size: 2.5rem;
    display: block; 
    font-weight: 100;
    padding: 0;
    margin: 1rem;  
}

input,
a.link-button {
    font-family: inherit; /* inherit for other browser */
    font-size: inherit; /* inherit for other browser */
    -moz-appearance: none; /* Safari iphone */
    -webkit-appearance: none; /* Mozilla */
    width: 100%;
    display: inline-block;    
    padding: 1rem;
    margin: 1rem;
    border-radius: 0; /* Safari iphone */
    border: none;
    outline: none;
    box-shadow: none; /* FF - red error shadow */
    box-sizing: border-box;
}

input::placeholder {
    color: rgba(161,161,161,1);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
a.link-button {
    cursor: pointer;
    background-color: rgba(97,218,251,1);
}

a.link-button {
    text-align: center;
    padding: 1rem 1rem;
    background: transparent;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgba(190,240,253,1);
}

a.link-button:hover {
    color: rgba(0,0,0,1);
    background-color: rgba(190,240,253,1);
}